.E.S {
  background-color: green;
}

.E {
  background-color: gray;
  width: 10px;
  height: 10px;
  float:left;
}

.row {
  width:600px;
  height: 10px;
}

.E.A {
	background-color: red;
}

.E.B {
  background-color: black;
}

#board {
  display: inline-block;
}

#content {
  text-align: center;
}

#description {
  font-size: 32;
}

#header {
  text-align: center;
}

.subtext {
  font-size: 24;
}

.no-close .ui-dialog-titlebar-close{
  display: none;
}

.control.ui-icon{
  display: inline-block;
}